* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: lightgray;
  position: center;
  text-decoration: none;
}

body {
  background-color: mediumpurple;
  background-image: linear-gradient(to bottom, slateblue, mediumpurple);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 0;
  position: center; 
}

.button {
    background-color: lightgray;
    border: 2px solid mediumpurple;
    color: mediumpurple;
    font-size: 24px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: slateblue;
    color: white;
}

#content {
  margin-left: 200px;
  padding-left: 20px;
}

h1 {
  color: white;
  font-weight: bold;
  position: center;
}

.image1 {
    border-radius: 50%;
}

.sidenav {
  background-color: lightgray;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1;
}

.sidenav a {
  color: mediumpurple;
  display: block;
  padding: 16px;
  text-decoration: none;
}

.sidenav a:hover {
  background-color: slateblue;
  color: lightgray;
}